<div class="responsible">
  <h1>{{data.name}}</h1>
  <h3>{{data.cpf}}</h3>
</div>

<div class="detail">
  <article>
    <div class="cont-prof-left">
      <div>Telefone<br/> para contato</div>
    </div>
    <div class="cont-prof-right">
      <div class="tel-number">{{data.phone}}</div>
    </div>
    <div class="clear"></div>
  </article>
  <article>
    <div class="cont-prof-left">
      <div>E-mail </div>
    </div>
    <div class="cont-prof-right">
      <div>{{data.email}}</div>
    </div>
    <div class="clear"></div>
  </article>
  <article>
    <div class="cont-prof-left">
      <div class="endereco">Endereço </div>
    </div>
    <div class="cont-prof-right">
      <div>{{data.address}}</div>
    </div>
    <div class="clear"></div>
  </article>
  <button class="btn-see-children" ng-click="toggleChildrenList()" ng-hide="showChildrenList"><span>crianças cadastradas</span></button>
</div>
