<div class="responsible">
  <h1>{{profileCtrl.data.name}}</h1>
  <h3>{{profileCtrl.data.cpf}}</h3>
</div>

<div class="detail">
  <article>
    <div class="cont-prof-left">
      <div>Telefone<br/> para contato</div>
    </div>
    <div class="cont-prof-right">
      <div class="tel-number">{{profileCtrl.data.phone}}</div>
    </div>
    <div class="clear"></div>
  </article>
  <article>
    <div class="cont-prof-left">
      <div>E-mail </div>
    </div>
    <div class="cont-prof-right">
      <div>{{profileCtrl.data.email}}</div>
    </div>
    <div class="clear"></div>
  </article>
  <article>
    <div class="cont-prof-left">
      <div class="endereco">Endereço </div>
    </div>
    <div class="cont-prof-right">
      <div>{{profileCtrl.data.address}}</div>
    </div>
    <div class="clear"></div>
  </article>
</div>
