<ion-modal-view class="onboarding">
  <ion-slide-box>
    <ion-slide>
      <header></header>
      <p>Bem-vindo ao<br/> Clubinho Mágico do<br/> Terraço Shopping</p>
    </ion-slide>
    <ion-slide>
      <header></header>
      <p>Agora todas as atividades e<br/> pontuações para trocas de prêmios,<br/> poderão ser acompanhadas por aqui :)</p>
      <img src="img/celular.png"> 
    </ion-slide>
    <ion-slide>
      <button class="close close-profile" ng-click="close()"></button>
      <header></header>
      <p>Para pontuar e receber as<br/> notificações corretamente,<br/>
      precisamos que ative<br/>
      o Bluetooth do seu celular.</p>
      <div class="coelha-bluetooth">
        <img src="img/coelha-bluetooth.png" alt="">
      </div>
      <button class="btn btn-start" ng-click="close()">Comecar</button>
    </ion-slide>
  </ion-slide-box>
</ion-modal-view>  
