<div class="profile" ng-controller="ProfileController">
  <ion-modal-view>
    <ion-content>
      <span class="logo"></span>
        
      <header>
        <button class="close close-profile" ng-click="close()"></button>
        <div class="profile-avatar-mini">
          <img ng-if="data.avatar"  ng-src="{{data.avatar}}" />
          <img ng-if="!data.avatar" src="img/avatar-default.png" />
        </div>
        <buttom class="edit-profile" ng-click="edit()"></buttom>

        <button ng-click="logout()">logout</button>
      </header>

      <main>
        <ng-include src="'templates/_profile-detail.html'"></ng-include>
        
        <div ng-show="showChildrenList" clubinho-children-list list="children" add-child="addChild" edit-child="editChild" delete-child="deleteChild"></div>
        
        <div class="clear"></div>
      </main>
    </ion-content>

    <button class="btn-see-children" ng-click="toggleChildrenList()" ng-hide="showChildrenList">Crianças cadastradas</button>
  </ion-modal-view>
</div>
