<div class="schedule-detail" ng-controller="ScheduleDetailController as scheduleDetailCtrl">
  <ion-modal-view>
    <ion-content>
      <div clubinho-loader show="scheduleDetailCtrl.loading"></div>

      <span class="logo"></span>
      <header>
        <button class="close close-profile" ng-click="close()"></button>
      </header>

      <main>
        <div class="cover">
          <img cache-src="{{event.cover}}">
        </div> 
        <div class="container">
          <div>
            <h1>{{event.title_plain}}</h1>
            <h2>com {{event.author}}</h2>
            <div ng-bind-html="event.content"></div>
          </div>
        </div>
        <div class="sidebar">
          <h5>
            <time datetime="{{event.date}}">{{event.date | date:'dd'}}</time>
            <time datetime="{{event.date}}">{{event.date | date:'MM'}}</time>
            <time datetime="{{event.date}}" class="hour">{{event.date | date:'HH:mm'}}</time>
            
            <button ng-click="toggleFavorite(event)">
              <i ng-class="{'ion-star': event.favorite, 'ion-ios-star-outline': !event.favorite}"></i> Fav
            </button>
          </h5>
        </div>  
      </main>
    </ion-content>
  </ion-modal-view>
</div>
