<ion-view class="login" hide-nav-bar="true">
  <ion-content class="padding">
    <header>
      <div class="logo"><img src="img/titulo.png"></div>      
      <div class="clear"></div>
    </header>
    <form name="form" novalidate>
      <span class="border-bottom"></span>
      <div>
        <input type="text" name="username" ng-model="user.username" placeholder="Usuário" required>

        <div class="form-errors" ng-show="form.username.$error && form.username.$dirty" ng-messages="form.username.$error">
          <div class="form-error" ng-message="required">Usuário é obrigatório</div>
        </div>

        <input type="password" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="25" ng-class="{'has-error-lr' : form.password.$invalid" placeholder="Senha" required>

        <div class="form-errors" ng-show="form.password.$error && form.password.$dirty" ng-messages="form.password.$error">
          <div class="form-error" ng-message="required">Esse campo é obrigatório</div>
          <div class="form-error" ng-message="minlength">Esse campo deve ter no mínimo 5 caracteres.</div>
          <div class="form-error" ng-message="maxlength">Esse campo deve ter no máximo 25 caracteres.</div>
        </div>
      </div>
      <div class="actions">
        <button class="btn btn-login" ng-click="signIn(form)" ng-disabled="form.$invalid">Logar</button>
        <p class="text-center">
          <a href="#/forgot-password">Esqueci a senha</a>
        </p>
      </div>
    </form>
  </ion-content>
</ion-view>
