<ion-view class="home" hide-nav-bar="true">
  <ion-content>
    <header>
      <div class="logo"><img src="img/titulo.png"></div>

      <button type="button" class="profile-avatar" ng-click="openProfile()">
        <img ng-if="user.avatar"  ng-src="{{user.avatar}}" />
        <img ng-if="!user.avatar" src="img/avatar-default.png" />
      </button>
      
      <div class="clear"></div>
    </header>

    <div class="main">
      <div class="events">
        <h1>próximos eventos</h1>
        <div class="cont-carousel">
          <div class="carousel">
            <ul class="bxslider">
              <li><img src="img/img-carousel.jpg" width="100%" alt=""></li>
              <li><img src="img/img-carousel2.jpg" width="100%" alt=""></li>
              <li><img src="img/img-carousel3.jpg" width="100%" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
      <div clubinho-children-list list="children"></div>
      <div class="clear"></div>
    </div>
  </ion-content>
</ion-view>
