<ion-view hide-nav-bar="true" class="prizes">
  <ion-content>
    <header>
      <div class="logo">
        <img src="img/titulo.png">
      </div>

      <div class="clear"></div>
    </header>
    
    <main>          
      <h1><span><i class="ion-trophy"></i></span> prêmios</h1>
      
      <div class="bronze-partner">
        <h3>Sôcio Bronze</h3>
        <div class="points">
          <h3>150</h3><span>pts</span>
        </div>
        <img src="img/balde-pipoca.png" height="199" width="486">
      </div>
      
      <div class="silver-partner">
        <h3>Sôcio Prata</h3>
        <div class="points">
          <h3>150</h3><span>pts</span>
        </div>
        <img src="img/copos.png" height="228" width="429">
      </div>  

      <div class="gold-partner">
        <h3>Sôcio Ouro</h3>
        <div class="points">
          <h3>150</h3><span>pts</span>
        </div>
        <img src="img/balde-pipoca.png" height="199" width="486">
      </div>          
    </main>
  </ion-content>
</ion-view>


