<ion-view hide-nav-bar="true" class="schedule">
  <div clubinho-loader show="loading"></div>
  <ion-content>
    <header>
      <div class="logo">
        <img src="img/titulo.png">
      </div>

      <div class="clear"></div>
    </header>
    <main>
      <h1><span><i class="ion-ios-calendar-outline"></i></span> Agenda</h1>
      <section>
        <h2>Próximos eventos</h2>
        <ul>
          <li ng-repeat="event in schedule">
            <article class="date">            
              {{event.date | date:'dd'}}<br/>
              {{event.date | date:'MM'}}<br/>
              {{event.date | date:'HH:ss'}}
            </article>
            <article class="content" ng-click="detail(event)">
              <h2>{{event.title_plain}}</h2>
              <h3>com {{event.custom_fields.palestrante[0]}}</h3>
              <div ng-bind-html="event.excerpt"></div>
            </article>
            <article class="actions">
              <button ng-click="toggleFavorite(event)"><i ng-class="{'ion-star': event.favorite, 'ion-ios-star-outline': !event.favorite}"></i> Fav</button>
              <button ng-click="detail(event)"><i class="ion-plus"></i> Mais</button>
            </article>
            <div class="clear"></div>
          </li>
        </ul>
      </section>
    </main>
  </ion-content>
</ion-view>
