<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Schedule Tab -->
  <ion-tab title="Agenda" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar-outline" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <!-- Prizes Tab -->
  <ion-tab title="Prêmios" icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/prizes">
    <ion-nav-view name="tab-prizes"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="O Programa" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb-outline" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
</ion-tabs>
