/* LOADER */

div.loader{
  position: relative;
  z-index: 9999999;

  ion-spinner{
    background-color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 20vh;
    width: 20vh;
    opacity: 0.9;
    transform: translate(-50%, -50%);
    padding: 3vw 3vh;
    border-radius: 4vw;

    svg {
      width: 12vw;
      height: 12vh;
    }
  }

  .overlay{
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}
