@import "compass/reset";
@import "compass/css3";

@import "fontawesome/fontawesome";
@import "pages/about";
@import "pages/home";
@import "pages/prizes";
@import "pages/profile";
@import "pages/schedule";
@import "pages/schedule-detail";
@import "pages/signin";
@import "_directives";

@font-face {
  font-family:'Love Ya Like A Sister';
  src:url('../font/LoveYaLikeASister.ttf');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.hide, .preload {
  display: none;
}
.clear{
  clear:both;
}

a {
  text-decoration: none
}
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
.btn {
  border-radius: 10px;
  font-size: 22px;
  padding: 3px 13px;
  color: white;
  border: none;
  font-family: 'Love Ya Like A Sister';

  &:disabled {
    opacity: 0.5;
  }
}

input[type=text], input[type=email], input[type=date], input[type=password]{
  border: 2px solid #934e22;
  border-radius: 4px;
  width: 100%;
  min-width:95%;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 10px;
}

body{
  font-family: 'Love Ya Like A Sister', cursive;
}

header{
  padding: 30px 0px 10px 0px;
  
  .logo{
    margin: 0 auto;
    max-width: 185px;
    height: auto;
    img{
      width: 100%;
    }
  }

  .profile-avatar{
    padding: 0;
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    top: 22px;
    right: 11px;
    border: 4px solid #563029;
    @include border-radius(30px);
    img {
      width: 100%;
    }
  }
}

// MODAL
.schedule-detail .modal, .profile .modal {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #ff9c00;
  color:#563029;
  font-size: 50px;

  span.logo {
    background: image-url("titulo.png") no-repeat center 212px;
    background-size: 165px;
    background-color: #ffe9bb;
    width: 100vw;
    height: 410px;
    display: block;
    position: absolute;
    left: 0;
    top: -200px;
  }

  header {
    background: image-url("bg-premios.png") no-repeat center bottom;
    background-size: 100%;
    padding-top: 210px;
    position: relative;

    .close{
      background: image-url("x.png");
      position: absolute;
      top: 160px;
      right: 9px;
      width: 6vh;
      height: 6vh;
      border: none;
      background-size: cover;
      z-index: 2
    }
  }
}
