@import "compass/reset";
@import "compass/css3";

@import "fontawesome/fontawesome";
@import "profile";
@import "_directives";

@font-face {
  font-family:'Love Ya Like A Sister';
  src:url('../font/LoveYaLikeASister.ttf');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.btn {
  border-radius: 10px;
  font-size: 22px;
  padding: 10px;
  color: white;
  border: none;
}

body{
  font-family: 'Love Ya Like A Sister', cursive;
  .clear{
    clear:both;
  }
  
  .main{
    .eventos{
      h1{
        background: #563029;
        color: white;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.2em;
        &:before{
          content: "||";
          display:inline-block;
          color: white;
          margin-right: 10px;
        }
        &:after{
          content: "||";
          display:inline-block;
          color: white;
          margin-left: 10px;
        }
      }
      .bx-wrapper{
        position: relative;
        .bx-prev{
          text-decoration: none;
          color: #eeb37e;
          font-size: 70px;
          position: absolute;
          // top: 15px;
          z-index: 99;
          // left:-25px;
        }
        .bx-next{
          text-decoration: none;
          color: #eeb37e;
          font-size: 70px;
          position: absolute;
          // top: 15px;
          // right: 0px;
          // right: -25px;
          z-index: 99;
        }
      }
      .cont-carousel{
        background: #fff6ed;
        margin-bottom: 15px;
      }
    }
  }
  footer{
    background: #ff9c00;
    a{
      text-decoration: none;
      color:white;
    }
    ul{
      li{
        float:left;
        width: 33%;
        text-align: center;
        text-transform: capitalize;
        background: #ff9c00;
        a{
          display: block;
        }
        h3{
        }
        span{
          display: block;
        }
      }
      .li-mid{
        border-right: 1px solid #784900;
        border-left: 1px solid #784900;
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
// mobile 320px
@media only screen and (min-width:320px) {
  body{
    header{
      padding: 30px 0px 10px 0px;
      .logo{
        margin: 0 auto;
        max-width: 185px;
        height: auto;
        img{
          width: 100%;
        }
      }
      .img-usuario{
        padding: 0;
        max-width: 40px;
        max-height: 40px;
        position: absolute;
        top: 22px;
        right: 11px;
        border: 4px solid #563029;
        @include border-radius(30px);
        img{
          width: 100%;
        }
      }
    }
    .main{
      .eventos{
        h1{
          padding: 6px 0px;
          font-size: 1.0em;
          &:before{
            margin-right: 10px;
          }
          &:after{
            margin-left: 10px;
          }
        }
        .cont-carousel{
          position: relative;
          padding: 15px 0px;
          .carousel{
            max-width: 260px;
            margin: 0 auto;
            .bxslider{
            }
          }
        }
        .bx-wrapper{
          .bx-prev{
            text-decoration: none;
            font-size: 70px;
            position: absolute;
            top: 6px;
            z-index: 99;
            left: -25px;
          }
          .bx-next{
            text-decoration: none;
            font-size: 70px;
            position: absolute;
            top: 6px;
            right: 0px;
            z-index: 99;
            right: -25px;
          }
        }
      }
    }
    .cont-rank{
      margin: 0px 5px;
      .rank{
        //max-width: 333px;
        //max-width: 500px;
        width: 95%;
        margin: 0 auto;
        //background: gray;
        // overflow: hidden;
        @include border-top-radius(25px);
        .aberto{
          padding-bottom: 15px;
        }
        li{
          position: relative;
          max-height: 60px;
          overflow: hidden;
          &:first-child {
            @include border-top-radius(25px);
          }
        }
        .dados-rank{
          max-width: 140px;
          float: left;
          margin-left: 2%;
          h2{
            margin-top: 15px;
          }
          .escondido{
            margin-top: 20px;
            max-height: 140px;
            overflow-y: scroll;
            .borda2{
              height: 1px;
              display: block;
              width: 100%;
              border-bottom: 2px dotted #784900;
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }
        }
        .avatar{
          float: left;
          max-width: 90px;
          // max-height: 60px;
          overflow: hidden;
          img{
            width: 100%
          }
        }
        .pontuacao{
          @include border-radius(50px);
          float: right;
          position: absolute;
          right: 9px;
          top: 4px;
          padding: 8px;
          color: white;
          text-align: center;
          line-height: 18px;
          h3{
            font-size: 25px;
            color:white;
          }
          span{
            font-size: 14px;
          }
        }
        h2{
          color:#784900;
          font-size: 20px;
        }
        h3{
          color:#784900;
          font-size: 15px;
        }
        .ana{
          background: #fff3f7;
          .pontuacao{
            background: #886bae;
          }
          .avatar{
            img{
              margin-top: -40px;
            }
          }
        }
        .maria{
          background: #fdf190;
          .pontuacao{
            background: #eabb1f;
          }
        }
        .luiz{
          background: #b1fff6;
          .pontuacao{
            background: #58a746;
          }
          .escondido{
            p{
              font-size: 14px;
              margin-bottom: 10px;
            }
            a{
              text-decoration: none;
              color: white;
            }
            .nao{
              font-size: 17px;
              background: #a74646;
              color: white;
              border: 2px solid white;
              border-radius: 66px;
              float: left;
              padding: 10px 6px;
              margin-right: 8px;
              text-transform: uppercase;
              h3{
                color: white;
              }
            }
            .sim{
              font-size: 17px;
              background: #58a746;
              color: white;
              border: 2px solid white;
              border-radius: 66px;
              float: left;
              padding: 10px 8px;
              margin-right: 8px;
              text-transform: uppercase;
              h3{
                color: white;
              }
            }
          }
        }
        .escondido {
          // display: none;
          h3{
            color: #784900;
            font-size: 16px;
          }
          h4{
            color: #784900;
            font-size: 15px;
          }
        }

        .cordiv {
          margin-top:-100px;
          max-height:300px!important;

          -webkit-transition: margin-top 0.5s linear, max-height 0.5s linear;
          -moz-transition: margin-top 0.5s linear, max-height 0.5s linear;
          -o-transition: margin-top 0.5s linear, max-height 0.5s linear;
          transition: margin-top 0.5s linear, max-height 0.5s linear;
        }
      }
    }
    footer{
      ul{
        li{
          a{
            padding: 10px 0px;
          }
          h3{
            font-size: 1.1em;
          }
          span{
            font-size: 1.7em;
          }
        }
        .li-mid{
        }
      }
    }
    // inicio Agenda //
    .agenda{
      //background: url("../images/bg-premios.png")no-repeat;
      //background-size: contain;
      background: #ff9c00;
      color:white;
      font-size: 50px;
      margin-top: 20px;
      position: absolute;
      width: 100%;
      top: 26%;
      z-index: 999999999;
      height: 100%;
      display:none;
      .close{
        float: right;
        position: absolute;
        top: -23px;
        right: 6px;
        width: 60px;
        text-align: center;
        img{
          width: 60%;
          height: auto;
        }
        a{
          padding: 9px;
          text-decoration: none;
          color: #563029;
        }
      }
      .title-agenda{
        border-bottom: 3px dotted white;
        padding-top: 20px;
        padding-bottom: 14px;
        text-transform: capitalize;
        margin-top: -16px;
        background: url("../images/bg-premios.png") no-repeat;
        background-size: 100%;
        font-size: 26px;
        text-indent: 8px;
      }
      .mes{
        h1{
          text-align: center;
          background: #ff9c00;
          padding: 11px 0px;
          font-size: 26px;
        }
        h3{}
        p{}
        ul{
          li:nth-child(2n+2) {
            background: #ff9c00;
            .data-agenda,.mais-agenda,.conteudo-agenda p{
              color:#552f2b;
            }
            .conteudo-agenda{
              border-right: 1px solid #552f2b;
              border-left: 1px solid #552f2b;
              h2{
                a{
                }
              }
              h3{
                a{
                }
              }
              p{
                a{
                  color: #552f2b;
                }
              }
            }
          }
          li:nth-child(2n+1) {
            background: #552f2b;
            .data-agenda,.mais-agenda,.conteudo-agenda p{
              color:#ff9c00;
            }
            .conteudo-agenda{
              border-right: 1px solid #ff9c00;
              border-left: 1px solid #ff9c00;
              h2{
                a{
                }
              }
              h3{
                a{
                }
              }
              p{
                a{
                  color: #ff9c00;
                }
              }
            }
            .mais-agenda{
              span{
                a{
                  color:#ff9c00;
                }
              }
            }
          }
          li{
            background: red;
            text-align: center;
            .cont-datas{
              margin: 0 auto;
              max-width: 320px;
            }
            .conteudo-agenda{
              h2 a,h3 a{
                color:white;
                text-decoration: none;
              }
              p a{
                text-decoration: none;
              }
            }
            .data-agenda{
              float: left;
              max-width: 20%;
              font-size: 15px;
              padding: 8% 7px;
            }
            .conteudo-agenda{
              float: left;
              max-width: 73%;
              padding: 20px 13px;
              text-align: left;
              h2{
                font-size: 16px;
              }
              h3{
                margin-bottom: 10px;
                font-size: 15px;
              }
              p{
                font-size: 13px;
              }
            }
            .mais-agenda{
              float:left;
              max-width: 20%;
              font-size: 15px;
              padding: 7% 7px;
              span{
                a{
                  color:#552f2b;
                }
              }
            }
          }
        }
      }
    }
    //fim Agenda//
    // inicio da interna agenda //
    .interna-agenda{
      color:white;
      margin-top: 20px;
      position: absolute;
      width: 100%;
      top: 26%;
      z-index: 999999999;
      height: 100%;
      display:none;
      .close{
        float: right;
        position: absolute;
        top: -23px;
        right: 6px;
        width: 60px;
        text-align: center;
        img{
          width: 60%;
        }
      }
      .img-interna {
        line-height: 0px;
        img{
          width: 100%;
          margin-top: -20px;
        }
      }
      .main{
        background: #552f2b;
        .sidebar-interna{
          width: 20%;
          float:right;
          text-align:center;
          color:#ff9c00;
        }
        .container-conteudo{
          border-top: 3px white dotted;
        }
        .conteudo-interna{
          width: 80%;
          float:left;
          .texto-interna{
            padding: 15px 20px;
            background: #ff9c00;
            h1{
              margin-bottom: 2px;
              font-size: 16px;
            }
            h2{
              margin-bottom: 15px;
              font-size: 16px;
            }
            p{
              color:#552f2b;
              font-size: 16px;
            }
          }
        }
        .sidebar-interna{
          padding-top: 40px;
          font-size: 15px;
          img{
            width: 50%;
            height: auto;
          }
        }
      }
    }
    // fim da interna agenda
    // inicio premios//
    .premios{
      background: #ff9c00;
      color:white;
      font-size: 50px;
      margin-top: 20px;
      position: absolute;
      width: 100%;
      top: 26%;
      z-index: 999999999;
      height: 100%;
      display:none;
      .close{
        float: right;
        position: absolute;
        top: -23px;
        right: 6px;
        width: 60px;
        text-align: center;
        a{
          text-decoration: none;
          color: #563029;
          font-size: 42px;
        }
      }
      h1{
        text-transform: capitalize;
        font-size: 26px;
        text-indent: 8px;
        background: url("../images/bg-premios.png") no-repeat;
        background-size: 100%;
        margin-top: -17px;
        padding-top: 20px;
        padding-bottom: 14px;
      }
      h2{
        padding-top: 45px;
        padding-bottom: 30px;
        text-transform: capitalize;
        font-size: 60px;
        text-indent: 20px;
      }
      img{
        width: 60%;
        height: auto;
      }
      .socio-bronze,.socio-prata,.socio-ouro{
        text-align: center;
        padding: 20px 0px;
        position: relative;
        border-top: 3px dotted white;
        h3{
          margin-bottom: 8px;
          font-size: 26px;
        }
      }
      .socio-bronze{
        color:white;
        background: #b8502b;
        .pontuacao{
          color:#613c32;
          background: #ffe9bb;
        }
      }
      .socio-prata{
        background: #ececec;
        color:#3a3a3a;
        .pontuacao{
          background:#c8c4c4;
          color:#3a3a3a;
        }
      }
      .socio-ouro{
        color:#977a09;
        background: #ffda46;
        .pontuacao{
          background:#977a09;
          color:#ffda46;
        }
      }
      .pontuacao{
        position: absolute;
        right: 10px;
        top: 7px;
        padding: 13px;
        line-height: 11px;
        @include border-radius(90px);
        h3{
          font-size: 25px;
          margin-bottom: 0px;
        }
        span{
          font-size: 17px;
        }
      }
    }
    // fim de premios //
    .programa{
      background: #ff9c00;
      color:white;
      font-size: 50px;
      margin-top: 20px;
      position: absolute;
      width: 100%;
      top: 26%;
      z-index: 999999999;
      height: 100%;
      display:none;
      .close-programa{
        float: right;
        position: absolute;
        top: -23px;
        right: 6px;
        width: 60px;
        text-align: center;
        a{
          text-decoration: none;
          color: #563029;
          font-size: 42px;
        }
      }
      .conteudo-programa{
        padding: 20px;
        background: #ff9c00;
      }
      h1{
        text-transform: capitalize;
        font-size: 26px;
        text-indent: 8px;
        background: url("../images/bg-premios.png") no-repeat;
        background-size: 100%;
        //margin-top: -17px;
        margin-top: -25px;
        padding-top: 15px;
        padding-bottom: 12px;
        border-bottom: 3px dotted white;
        span{
          .fa{
            font-size: 32px;
          }
        }
      }
      h2{
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 24px;
        line-height: 30px;
      }
      h3{
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 23px;
      }
      h4{
        font-size: 20px;
        margin-bottom: 10px;
        color:#552f2b;
      }
      p{
        font-size: 16px;
        margin-bottom: 10px;
        color:#552f2b;
        line-height: 20px;
      }
      img{
        width: 60%;
        height: auto;
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:360px) {
  body{
    .main{
      .eventos{
        .cont-carousel{
          .carousel{
            margin: 0 auto;
            max-width: 85%;
          }
        }
      }
    }
    .agenda{
      .title-agenda{
        margin-top:-19px;
      }
      .mes{
        ul{
          li{
            .cont-datas {
              max-width: 360px;
              .conteudo-agenda {
                padding: 23px 15px;
              }
              .data-agenda {
                font-size: 15px;
                padding: 8% 16px;
              }
              .mais-agenda {
                padding: 7% 16px;
              }
            }
          }
        }
      }
    }
    .premios{
      h1{
        margin-top:-19px;
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:375px) {
  body{
    header{
      padding: 30px 0px 20px 0px;
      .logo{
        max-width: 285px;
        img{
        }
      }
      .img-usuario{
        max-width: 60px;
        max-height: 60px;
        position: absolute;
        top: 12px;
        right: 11px;
        border: 4px solid #563029;
        @include border-radius(60px);
        img{
          width: 100%;
        }
      }
    }
    .main{
      .eventos{
        h1{
          padding: 16px 0px;
          font-size: 1.3em;
          &:before{
            margin-right: 25px;
          }
          &:after{
            margin-left: 25px;
          }
        }
        .cont-carousel{
          position: relative;
          padding: 15px 0px;
          .carousel{
            margin: 0 auto;
            max-width: 85%;
            .bx-wrapper{
              max-width: 100%;
              margin: 0px auto;
              .bx-viewport{
                width: 100%;
                overflow: hidden;
                position: relative;
                height: 142px;
                .bxslider{
                  li{
                    width: 100%;
                    img{
                      width: 100%;
                    }
                  }
                }
              }
              .bx-prev{
                font-size: 100px;
                top: 6px;
                left: -34px;
              }
              .bx-next{
                font-size: 100px;
                top: 6px;
                right: 0px;
                right: -25px;
              }
            }
          }
        }
      }
    }
    .agenda{
      .title-agenda{
        margin-top:-19px;
      }
    }
    .premios{
      h1{
        margin-top:-19px;
      }
    }
    footer{
      ul{
        li{
          a{
            padding: 15px 0px;
          }
          h3{
            font-size: 1.1em;
          }
          span{
            font-size: 1.7em;
          }
        }
        .li-mid{
        }
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:414px) {
  body{
    footer{
      ul{
        li{
          a{
            padding: 20px 0px;
          }
          h3{
            font-size: 1.4em;
          }
          span{
            font-size: 2.0em;
          }
        }
        .li-mid{
        }
      }
    }
    .premios{
      h1{
        margin-top:-24px;
        padding-top: 23px;
        padding-bottom: 17px;
      }
    }
    .agenda{
      .close{
        img{
        }
        a{
        }
      }
      .title-agenda{
        margin-top: -24px;
      }
      .mes{
        h1{
        }
        h3{}
        p{}
        ul{
          li:nth-child(2n+2) {
            .data-agenda,.mais-agenda,.conteudo-agenda p{
            }
            .conteudo-agenda{
            }
          }
          li:nth-child(2n+1) {
            background: #552f2b;
            .data-agenda,.mais-agenda,.conteudo-agenda p{
            }
            .conteudo-agenda{
            }
          }
          li{
            .cont-datas {
              max-width: 414px;
              .conteudo-agenda {
                padding: 27px 27px;
              }
              .data-agenda {
                font-size: 15px;
                padding: 8% 23px;
              }
              .mais-agenda {
                padding: 7% 24px;
              }
            }
          }
        }
      }
    }
    .interna-agenda{
      .img-interna{
        img{
          margin-top: -25px;
        }
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:480px) {
  body{
    footer{
      ul{
        li{
          a{
            padding: 20px 0px;
          }
          h3{
            font-size: 1.3em;
          }
          span{
            font-size: 2.0em;
          }
        }
        .li-mid{
        }
      }
    }
    .interna-agenda{
      .main{
        .container-conteudo{
          .conteudo-interna{
            .texto-interna{
              h1{
                font-size: 19px;
              }
              h2{
                font-size: 18px;
              }
              p{
                font-size: 17px;
              }
            }
          }
          .sidebar-interna{
            img{
              width: 20%;
            }
            h1{
              font-size: 20px;
            }
          }
        }
      }
    }
    .premios{
      h1{
        margin-top: -24px;
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:568px) {
  body{
    footer{
      ul{
        li{
          a{
            padding: 30px 0px;
          }
          h3{
            font-size: 1.3em;
          }
          span{
            font-size: 2.0em;
          }
        }
        .li-mid{
        }
      }
    }
    .agenda{
      .close{
        img{
        }
        a{
        }
      }
      .title-agenda{
        margin-top: -25px;
      }
      .mes{
        h1{
        }
        h3{}
        p{}
        ul{
          li:nth-child(2n+2) {
            .data-agenda,.mais-agenda,.conteudo-agenda p{
            }
            .conteudo-agenda{
            }
          }
          li:nth-child(2n+1) {
            background: #552f2b;
            .data-agenda,.mais-agenda,.conteudo-agenda p{
            }
            .conteudo-agenda{
            }
          }
          li{
            .cont-datas {
              max-width: 568px;
              .conteudo-agenda {
                padding: 38px 27px;
                h2{
                  font-size: 18px;
                }
                h3{
                  font-size: 17px;
                }
                p{
                  font-size: 15px;
                }
              }
              .data-agenda {
                font-size: 17px;
                padding: 8% 53px;
              }
              .mais-agenda {
                font-size: 17px;
                padding: 7% 50px;
              }
            }
          }
        }
      }
    }
    .eventos{
      .cont-carousel{
        .carousel{
          .bx-wrapper{
            .bx-controls{
              .bx-next {
                font-size: 100px;
                top: 28px;
              }
              .bx-prev {
                font-size: 100px;
                top: 28px;
              }
            }
          }
        }
      }
    }
    .premios{
      h1{
        margin-top: -28px;
      }
    }
    .programa{
      h1{
        margin-top: -30px;
        padding-top: 25px;
      }
    }
    .interna-agenda{
      .img-interna{
        img{
          margin-top: -30px;
        }
      }
    }
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width:667px) {
  body{
    .agenda{
      .title-agenda {
        margin-top: -34px;
        padding-top: 32px;
        font-size: 30px;
      }
      .mes{
        ul{
          li{
            .cont-datas {
              max-width: 667px;
              .conteudo-agenda {
                padding: 44px 47px;
              }
              .data-agenda {
                font-size: 17px;
                padding: 8% 67px;
              }
              .mais-agenda {
                padding: 7% 67px;
              }
            }
          }
        }
      }
    }
    .premios{
      h1{
        margin-top: -34px;
        padding-top: 32px;
        font-size: 30px;
      }
    }
    .programa{
      h1{
        margin-top: -36px;
        padding-top: 30px;
      }
    }
    .interna-agenda{
      .img-interna{
        img{
          margin-top: -37px;
        }
      }
    }
  }
}
