@import "compass/reset";
@import "compass/css3";

@import "fontawesome/fontawesome";
@import "pages/about";
@import "pages/home";
@import "pages/onboarding";
@import "pages/prizes";
@import "pages/profile";
@import "pages/schedule";
@import "pages/schedule-detail";
@import "pages/signin";
@import "_directives";

@font-face {
  font-family:'Love Ya Like A Sister';
  src:url('../font/LoveYaLikeASister.ttf');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
  font-family: 'Love Ya Like A Sister', cursive;
  -webkit-tap-highlight-color: #ccc;
}

.hide, .preload {
  display: none;
}
.clear{
  clear: both;
}

a {
  text-decoration: none
}
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
.btn {
  border-radius: 10px;
  font-size: 22px;
  padding: 3px 13px;
  color: white;
  border: none;
  font-family: 'Love Ya Like A Sister';

  &:disabled {
    opacity: 0.5;
  }
}

input.has-error, input.ng-invalid {
  border: 2px solid rgb(249, 103, 103) !important;
}
input[type=text], input[type=email], input[type=date], input[type=password], select{
  // -webkit-appearance: none;
  border: 2px solid #934e22;
  border-radius: 4px;
  width: 100%;
  min-width:95%;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  height: 34px;
  background: white;

  option {
    font-size: 13px;
    padding: 0px 2px 1px;
  }
}
.form-errors {
  margin: 5px 0;

  .form-error {
    padding: 0 0 5px 12px;
    color: rgb(249, 103, 103);
    font-size: 14px;
  }
}

header{
  padding: 30px 0px 10px 0px;
  
  .logo{
    margin: 0 auto;
    max-width: 185px;
    height: auto;
    img{
      width: 100%;
    }
  }

  .profile-avatar{
    padding: 0;
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    top: 25px;
    right: 15px;
    border-radius: 30px;
    border: none;

    i.gear {
      width: 40px;
      height: 40px;
      display: block;
      font-size: 32px;
      color: #FFE9BC;
      background: #563029;
      border-radius: 21px;
      line-height: 42px;
    }

    i.alert{
      background: #C32222;
      display: block;
      position: absolute;
      right: -10px;
      width: 24px;
      border-radius: 20px;
      font-size: 13px;
      color: white;
      height: 24px;
      line-height: 22px;
      bottom: -4px;
      border: 2px solid white;
    }
  }
}

// MODAL
.schedule-detail .modal, .profile .modal {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #ff9c00;
  color:#563029;
  font-size: 50px;

  span.logo {
    background: image-url("titulo.png") no-repeat center 212px;
    background-size: 135px;
    background-color: #ffe9bb;
    width: 100vw;
    height: 410px;
    display: block;
    position: absolute;
    left: 0;
    top: -190px;
  }

  header {
    background: image-url("bg-premios.png") no-repeat center bottom;
    background-size: 100%;
    padding-top: 210px;
    position: relative;
  }

  .close {
    background: image-url("x.png");
    position: absolute;
    top: 160px;
    right: 9px;
    width: 6vh;
    height: 6vh;
    border: none;
    background-size: cover;
    z-index: 2
  }
}

.beacon-alert .modal {
  background: #ff9c00;

  .close {
    background: image-url("x.png");
    position: absolute;
    top: -10px;
    right: 9px;
    width: 6vh;
    height: 6vh;
    border: none;
    background-size: cover;
    z-index: 3
  } 
}

body .ionic_toast {
  color: #ff9c00;
  background: rgba(86,48,41,0.9);
  box-shadow: 2px 2px 4px #563029;
  width: 100%;
  margin: 0;
  top: 0;
  padding: 24px;
  font-size: 18px;

  .ionic_toast_close {
    color: #ff9c00;
    top: 17px;
    right: 10px;
  }
}
