.home {
  .main {
    .events {
      h1 {
        background: #563029;
        color: white;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.2em;
        padding: 6px 0px;
        font-size: 1.0em;
        
        &:before{
          content: "||";
          display:inline-block;
          color: white;
          margin-right: 10px;
        }
        &:after{
          content: "||";
          display:inline-block;
          color: white;
          margin-left: 10px;
        }
      }

      ion-slide {
        background: #FFF6ED;

        time {
          background-color: #0826AA;
          float: left;
          padding: 30px 6px;
          text-align: center;
          color: white;
          margin-right: 10px;
          font-size: 12px;
          
          strong {
            display: block;
            font-size: 18px;
          }
        }
        h2, h3, p {
          font-family: helvetica neue, Verdana;
        }
        h3, p {
          color: #63453D;
        }
        h2 {
          color: #0826AA;
        }
        h3 {
          font-size: 11px;
          border-bottom: 1px solid #57302B;
          padding-bottom: 8px;
          margin-bottom: 8px;
          margin-top: 4px;
          width: 90%;
        }
        p {
          font-size: 12px
        }

        &.orange {
          time {
            background-color: #FF9C00;
          }
          h2 {
            color: #FF9C00;
          }
        }
        &.red {
          time {
            background-color: #BB0504;
          }
          h2 {
            color: #BB0504;
          }
        }
      }

      .carousel{
        position: relative;
        padding: 15px 0px;
        background: #fff6ed;
        margin-bottom: 15px;

        .wrapper{
          max-width: 260px;
          margin: 0 auto;
        }
      }
      .action{
        position: relative;
        
        .bt-prev, .bt-next {
          text-decoration: none;
          font-size: 70px;
          position: absolute;
          top: -6px;
          z-index: 99;
          color: #eeb37e;
          border: none;
          background: transparent;
          font-family: 'Love Ya Like A Sister', cursive;
          width: 18px;
          padding: 0;
        }
        .bt-prev{
          left: -25px;
        }
        .bt-next{
          right: -25px;
        }
      }
    }

    .empty-list {
      font-size: 24px;
      text-align: center;
      padding: 32px;
      color: #563029;

      strong {
        display: block;
        font-size: 16px;
      }
    }

    .fixed {
      .children {
        height: 29vh;
        position: relative;

        > ul {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
