.profile .modal {
  .profile-avatar-mini{
    position: absolute;
    top: 110px;
    left: 20px;
    width: 112px;

    img{
      border: 5px solid #563029;
      border-radius: 50px;
      width: 88%;
    }
  }

  .edit-profile{
    position: absolute;
    top: 128px;
    left: 107px;
    border: 0;
    background: image-url("edit.png");
    width: 12vw;
    height: 12vw;
    background-size: cover;
  }

  .btn-logout {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    color: #563029;
    font-size: 14px;
    padding: 0;
  }

  main {
    background-color:#ff9c00;

    .responsible{
      padding-bottom: 20px;

      h1{
        text-transform: capitalize;
        font-size: 23px;
        text-indent: 20px;
      }
      h3{
        text-indent: 20px;
        font-size: 20px;
        margin: 0;
      }
    }
  }

  .detail{
    background: #ff9c00;
    color:#ff9c00;
    margin: 20px 0;
    
    .left{
      float: left;
      width: 26%;
      font-size: 13px;
      padding-left: 20px;

      .endereco{
        margin-top: 6px;
      }
    }
    .right{
      float: right;
      width: 74%;
      font-size: 15px;
      div{
        margin: 0px auto;
        width: 72%;
      }
      .tel-number{
        padding-top: 12px;
      }
    }
  }
  article{
    background: #563029;
    border-top: 3px dotted white;
    padding: 13px 0px;
    p{
      font-size: 25px;
      span{
        font-size: 35px;
      }
    }
  }

  .cont-editar-crianca{
    display:none;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    width: 95%;
    .adicionar-crianca {
      max-height: 100%;
      border-radius: 25px;
    }
  }
  .cont-adicionar-crianca{
    .adicionar-crianca{
      max-height: 60px;
    }
  }
  .actions{
    p{
      clear: both;
    }
  }

  .btn-see-children{
    width: 96%;
    background: white;
    border: none;
    border-radius: 25px 25px 0 0;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 24px;
    padding: 10px;
    color: #784900;
    font-family: 'Love Ya Like A Sister';
  }
}


// MODAL add child
.add-child-modal{
  background-color: transparent;

  .modal {
    background-color: transparent;
  }

  .content{
    width: 95%;
    background: white;
    padding: 18px 10px;
    border-radius: 15px 15px 0 0;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    h2, h3 {
      color: #563029;
    }

    h2{
      font-size: 20px;
      margin-bottom: 15px;
    }
    
    h3{
      margin-top: 14px;
      margin-bottom: 10px;
    }

    .actions{
      width: 90%;
      margin: 0 auto;

      .btn-cancel{
        background: #932222;
        float: left;
      }
      .btn-add{
        background: #4a9322;
        float: right;
      }
    }

    .choose-avatar{
      margin-bottom: 14px;
      ul li{
        float: left;
        width: 65px;
        height: 70px;
        position: relative;
        // max-height: 60px;
        overflow: hidden;
        padding-left: 2px;
        min-height:auto;
      }
      .item-avatar {
        input {
          display: none;
        }
        label {
          background: #fff no-repeat center center;
          bottom: 1px;
          cursor: pointer;
          display: block;
          font-size: 0;
          left: 1px;
          position: absolute;
          right: 1px;
          text-indent: 100%;
          top: 1px;
          white-space: nowrap;
        }
      }
      .item-coelha{
        label {
          background: image-url("coelha-nao-selecionada.png")no-repeat;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .item-coelha input:checked + label {
        background: image-url("coelha-selecionada.png")no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .item-passarinha{
        label {
          background: image-url("passarinha-nao-selecionada.png")no-repeat;
          background-size: contain;
        }
      }
      .item-passarinha input:checked + label {
        background: image-url("passarinha-selecionada.png")no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .item-tigre {
        label {
          background: image-url("tigre-nao-selecionado.png")no-repeat;
          background-size: contain;
        }
      }
      .item-tigre input:checked + label {
        background: image-url("tigre-selecionado.png")no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .item-lobo {
        label {
          background: image-url("lobo-nao-selecionado.png")no-repeat;
          background-size: contain;
        }
      }
      .item-lobo input:checked + label {
        background: image-url("lobo-selecionado.png")no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .actions{
      margin: 0 auto;

      .btn {
        font-size: 22px;
      }

      .btn-cancel{
        background: #932222;
        float: left;
      }
      .btn-add{
        background: #4a9322;
        float: right;
      }
    }
  }
}

// MODAL update profile
.edit-profile-modal{
  background-color: transparent;

  .modal {
    background-color: transparent;
  }

  .content{
    width: 90%;
    background: white;
    padding: 18px 20px;
    border-radius: 15px;
    position: absolute;
    z-index: 9999;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);

    h2{
      color: #563029;
      font-size: 20px;
      margin-bottom: 15px;
    }

    .editar-foto{
      margin-bottom: 30px;
      h3{
        color: #563029;
        float: left;
        font-size: 19px;
      }
      .profile-foto-edit a img{
        float: left;
        margin-left: 20px;
      }
    }
    
    .actions{
      width: 90%;
      margin: 0 auto;

      .btn-cancel{
        background: #932222;
        float: left;
      }
      .btn-add{
        background: #4a9322;
        float: right;
      }
    }
  }
}
