.schedule {
  background: #ffe9bb;
  color: white;
  font-size: 50px;

  main {
    background: image-url('bg-premios.png') no-repeat center top;
    background-size: 100%;
    padding-top: 10px;
  }

  h1{
    text-transform: capitalize;
    font-size: 26px;
    text-indent: 8px;
    background-size: 100%;
    margin-top: -17px;
    padding-top: 20px;
    padding-bottom: 14px;
    color: white;
    border-bottom: 3px dotted white;
  }
  section {
    h2 {
      text-align: center;
      background: #ff9c00;
      padding: 11px 0px;
      font-size: 26px;
    }
    ul {
      li:nth-child(2n+2) {
        background: #ff9c00;
        article, article p {
          color: #552f2b;
        }
        .content {
          border-right: 1px solid #552f2b;
          border-left: 1px solid #552f2b;
          p {
            color: #552f2b;
          }
        }
      }
      li:nth-child(2n+1) {
        background: #552f2b;
        article, article p {
          color: #ff9c00;

          &.content {
            border-right: 1px solid #ff9c00;
            border-left: 1px solid #ff9c00;
            p {
              color: #ff9c00;
            }
          }
          &.actions button {
            color: #ff9c00;
          }
        }
      }
      li {
        background: red;
        text-align: center;
        .content {
          h2, h3{
            color: white;
          }
        }
        .date {
          float: left;
          width: 20vw;
          font-size: 20px;
          padding: 8% 7px;
          line-height: 28px;
        }
        .content {
          float: left;
          width: 60vw;
          padding: 20px 13px;
          text-align: left;
          h2 {
            font-size: 16px;
          }
          h3 {
            margin-bottom: 10px;
            font-size: 15px;
          }
          p {
            font-size: 13px;
          }
        }
        .actions {
          float: left;
          width: 20vw;
          font-size: 15px;
          padding: 7% 7px;
          button {
            border: none;
            background: none;
            font-size: 20px;
            padding: 0;
            margin: 0;
            color: #552f2b;
            display: block;
            margin: 0 auto;
            font-family: 'Love Ya Like A Sister', cursive;

            i {
              display: block;  
            }
          }
        }
      }
    }
  }
}
