.schedule-detail .modal {
  header {
    padding-top: 210px;
    position: relative;
  }
  
  main{
    background: #552f2b;
    float: left;

    .cover {
      line-height: 0px;
      border-bottom: 3px white dotted;
      position: relative;
      z-index: 1;

      img{
        width: 100%;
        margin-top: -59px;
        max-height: 240px;
      }
    }

    .sidebar{
      width: 20%;
      float:right;
      text-align:center;
      color:#ff9c00;
      background: #552f2b;
      padding-top: 40px;
      font-size: 15px;
      
      time {
        background:image-url('tracinho.png') no-repeat center bottom;
        background-size: contain;
        color: #ff9c00;
        display: block;
        padding: 0 0 10px;
        width: 60%;
        margin: 0 auto 10px;
        font-size: 20px;
        line-height: 28px;

        &.hour {
          font-size: 16px;
        }
      }

      button {
        color:#ff9c00;
        border: none;
        background: none;
        font-family: 'Love Ya Like A Sister', cursive;
        font-size: 20px;

        i {
          display: block;
          font-size: 25px;
        }
      }
    }
    .container{
      width: 80%;
      float:left;
      > div {
        padding: 15px 20px;
        background: #ff9c00;
        h1, h2 {
          color: white;
        }
        h1{
          margin-bottom: 2px;
          font-size: 16px;
        }
        h2{
          margin-bottom: 15px;
          font-size: 16px;
        }
        p{
          color:#552f2b;
          font-size: 16px;
          margin-bottom: 14px;
        }
      }
    }
  }
}
