.login {
  header {
    margin-top: 20px;
  }

  form {
    padding: 20px 12px;
    width: 90%;
    margin: 0 auto;

    span.or {
      color:#563029;
      font-size: 18px;
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
    .btn-facebook {
      background: image-url('btn-facebook.png') no-repeat;
      background-size: contain;
      border: none;
      text-indent: -9999em;
      width: 90%;
      height: 35px;
      margin: 0 auto 10px;
      display: block;
    }
    .btn-login {
      background: #4a9322;
      display: block;
      margin: 0 auto 20px;
      font-size: 19px;
      font-weight: bold;
      padding: 7px 24px;
    }

    .actions a {
      color:#563029;
      font-size: 15px;
      margin-bottom: 10px;
      display: block;
    }
  }
}
