.signin, .signup, .forgot-password {
  color:#563029;
  text-align: center;

  p {
    margin-bottom: 10px;
  }
    
  header {
    margin-top: 20px;
  }

  .success {
    font-size: 18px;
    margin-top: 50px;
    padding: 10px;
  }

  form {
    padding: 20px 12px;
    width: 90%;
    margin: 0 auto;

    span.or {
      font-size: 18px;
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
    .btn-facebook {
      background: image-url('btn-facebook.png') no-repeat center center;
      background-size: contain;
      border: none;
      text-indent: -9999em;
      width: 90%;
      height: 35px;
      margin: 0 auto 10px;
      display: block;
    }
    .btn-login, .btn-signup {
      background: #4a9322;
      display: block;
      margin: 0 auto 20px;
      font-size: 19px;
      font-weight: bold;
      padding: 7px 24px;
      float: right;
    }
    .btn-cancel {
      background: #932222;
      display: block;
      margin: 0 auto 20px;
      font-size: 19px;
      font-weight: bold;
      padding: 7px 24px;
      float: left;
    }

    .actions a {
      color:#563029;
      font-size: 15px;
      margin-bottom: 10px;
      display: block;
    }
  }
}

.signin form .btn-login {
  float: none;
}

.signup {
  ion-content {
    padding: 0 10px;
  }
  form {
    width: 98%;
    padding: 10px;
    background: white;
    border-radius: 25px;

    h2 {
      color: #563029;
      text-align: left;
      font-size: 24px;
      padding: 10px 10px 20px;
    }

    .cpf, .password {
      min-width: 49%;
      width: 49%;
      float: left
    }
    .phone, .password_verify {
      min-width: 49%;
      width: 49%;
      float: right;
    }
    .email {
      width: 65%;
      min-width: 65%;
      float: left;
    }
    .zipcode {
      width: 33%;
      min-width: 33%;
      float: right;
    }

    .actions {
      margin-top: 20px;
      float: left;
      width: 100%;
      text-align: center;

      button {
        display: inline;
        float: none;
      }
    }
  }

  // span.border {
  //   position: absolute;
  //   height: 30vh;
  //   width: 98%;
  //   border: 1px solid red;
  //   transform: translate(-50%, 0);
  //   left: 50%;
  //   bottom: 0;
  //   // display: none;
  //   z-index: -1;
  //   span {
  //     display:block;
  //     height: 100%;
  //     width: 100%;
  //     background: white;    
  //   }
  // }
}
