@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-feed:before,
.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-intersex:before,
.fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-genderless:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before,
.fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
  content: "";
}

.fa-optin-monster:before {
  content: "";
}

.fa-opencart:before {
  content: "";
}

.fa-expeditedssl:before {
  content: "";
}

.fa-battery-4:before,
.fa-battery-full:before {
  content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "";
}

.fa-mouse-pointer:before {
  content: "";
}

.fa-i-cursor:before {
  content: "";
}

.fa-object-group:before {
  content: "";
}

.fa-object-ungroup:before {
  content: "";
}

.fa-sticky-note:before {
  content: "";
}

.fa-sticky-note-o:before {
  content: "";
}

.fa-cc-jcb:before {
  content: "";
}

.fa-cc-diners-club:before {
  content: "";
}

.fa-clone:before {
  content: "";
}

.fa-balance-scale:before {
  content: "";
}

.fa-hourglass-o:before {
  content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "";
}

.fa-hourglass:before {
  content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "";
}

.fa-hand-scissors-o:before {
  content: "";
}

.fa-hand-lizard-o:before {
  content: "";
}

.fa-hand-spock-o:before {
  content: "";
}

.fa-hand-pointer-o:before {
  content: "";
}

.fa-hand-peace-o:before {
  content: "";
}

.fa-trademark:before {
  content: "";
}

.fa-registered:before {
  content: "";
}

.fa-creative-commons:before {
  content: "";
}

.fa-gg:before {
  content: "";
}

.fa-gg-circle:before {
  content: "";
}

.fa-tripadvisor:before {
  content: "";
}

.fa-odnoklassniki:before {
  content: "";
}

.fa-odnoklassniki-square:before {
  content: "";
}

.fa-get-pocket:before {
  content: "";
}

.fa-wikipedia-w:before {
  content: "";
}

.fa-safari:before {
  content: "";
}

.fa-chrome:before {
  content: "";
}

.fa-firefox:before {
  content: "";
}

.fa-opera:before {
  content: "";
}

.fa-internet-explorer:before {
  content: "";
}

.fa-tv:before,
.fa-television:before {
  content: "";
}

.fa-contao:before {
  content: "";
}

.fa-500px:before {
  content: "";
}

.fa-amazon:before {
  content: "";
}

.fa-calendar-plus-o:before {
  content: "";
}

.fa-calendar-minus-o:before {
  content: "";
}

.fa-calendar-times-o:before {
  content: "";
}

.fa-calendar-check-o:before {
  content: "";
}

.fa-industry:before {
  content: "";
}

.fa-map-pin:before {
  content: "";
}

.fa-map-signs:before {
  content: "";
}

.fa-map-o:before {
  content: "";
}

.fa-map:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-houzz:before {
  content: "";
}

.fa-vimeo:before {
  content: "";
}

.fa-black-tie:before {
  content: "";
}

.fa-fonticons:before {
  content: "";
}

.fa-reddit-alien:before {
  content: "";
}

.fa-edge:before {
  content: "";
}

.fa-credit-card-alt:before {
  content: "";
}

.fa-codiepie:before {
  content: "";
}

.fa-modx:before {
  content: "";
}

.fa-fort-awesome:before {
  content: "";
}

.fa-usb:before {
  content: "";
}

.fa-product-hunt:before {
  content: "";
}

.fa-mixcloud:before {
  content: "";
}

.fa-scribd:before {
  content: "";
}

.fa-pause-circle:before {
  content: "";
}

.fa-pause-circle-o:before {
  content: "";
}

.fa-stop-circle:before {
  content: "";
}

.fa-stop-circle-o:before {
  content: "";
}

.fa-shopping-bag:before {
  content: "";
}

.fa-shopping-basket:before {
  content: "";
}

.fa-hashtag:before {
  content: "";
}

.fa-bluetooth:before {
  content: "";
}

.fa-bluetooth-b:before {
  content: "";
}

.fa-percent:before {
  content: "";
}

.about {
  background: #ffe9bb;
  color: white;
  font-size: 50px;
}
.about main {
  background: url('../img/bg-premios.png?1458128504') no-repeat center top;
  background-size: 100%;
  padding-top: 10px;
}
.about main > div {
  padding: 20px;
  background: #ff9c00;
}
.about h1 {
  text-transform: capitalize;
  font-size: 26px;
  text-indent: 8px;
  background-size: 100%;
  margin-top: -17px;
  padding-top: 20px;
  padding-bottom: 14px;
  border-bottom: 3px dotted white;
  color: white;
}
.about h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
.about h3 {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 23px;
  color: white;
}
.about h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #552f2b;
}
.about p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #552f2b;
  line-height: 20px;
}
.about img {
  width: 60%;
  height: auto;
}

.home .main .events h1 {
  background: #563029;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 6px 0px;
  font-size: 1.0em;
}
.home .main .events h1:before {
  content: "||";
  display: inline-block;
  color: white;
  margin-right: 10px;
}
.home .main .events h1:after {
  content: "||";
  display: inline-block;
  color: white;
  margin-left: 10px;
}
.home .main .events ion-slide {
  background: #FFF6ED;
}
.home .main .events ion-slide time {
  background-color: #0826AA;
  float: left;
  padding: 30px 6px;
  text-align: center;
  color: white;
  margin-right: 10px;
  font-size: 12px;
}
.home .main .events ion-slide time strong {
  display: block;
  font-size: 18px;
}
.home .main .events ion-slide h2, .home .main .events ion-slide h3, .home .main .events ion-slide p {
  font-family: helvetica neue, Verdana;
}
.home .main .events ion-slide h3, .home .main .events ion-slide p {
  color: #63453D;
}
.home .main .events ion-slide h2 {
  color: #0826AA;
}
.home .main .events ion-slide h3 {
  font-size: 11px;
  border-bottom: 1px solid #57302B;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 4px;
  width: 90%;
}
.home .main .events ion-slide p {
  font-size: 12px;
}
.home .main .events ion-slide.orange time {
  background-color: #FF9C00;
}
.home .main .events ion-slide.orange h2 {
  color: #FF9C00;
}
.home .main .events ion-slide.red time {
  background-color: #BB0504;
}
.home .main .events ion-slide.red h2 {
  color: #BB0504;
}
.home .main .events .carousel {
  position: relative;
  padding: 15px 0px;
  background: #fff6ed;
  margin-bottom: 15px;
}
.home .main .events .carousel .wrapper {
  max-width: 260px;
  margin: 0 auto;
}
.home .main .events .action {
  position: relative;
}
.home .main .events .action .bt-prev, .home .main .events .action .bt-next {
  text-decoration: none;
  font-size: 70px;
  position: absolute;
  top: -6px;
  z-index: 99;
  color: #eeb37e;
  border: none;
  background: transparent;
  font-family: 'Love Ya Like A Sister', cursive;
  width: 18px;
  padding: 0;
}
.home .main .events .action .bt-prev {
  left: -25px;
}
.home .main .events .action .bt-next {
  right: -25px;
}

.onboarding {
  background: #ffe9bb;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
}
.onboarding ion-slide {
  width: 100vw;
  height: 100vh;
}
.onboarding ion-slide header {
  background: url('../img/titulo.png?1458128492') no-repeat;
  margin: 20px auto 0;
  width: 84vw;
  height: 220px;
  background-size: contain;
}
.onboarding ion-slide p {
  font-size: 15px;
  line-height: 1.4em;
}
.onboarding ion-slide p span {
  font-size: 18px;
}
.onboarding ion-slide:nth-child(1) header {
  margin-top: 125px;
  margin-bottom: 20;
}
.onboarding ion-slide:nth-child(1) p {
  font-size: 22px;
  line-height: 1.2em;
}
.onboarding ion-slide:nth-child(2) header, .onboarding ion-slide:nth-child(3) header {
  width: 50vw;
  height: 142px;
}
.onboarding ion-slide:nth-child(2) p {
  font-size: 17px;
  line-height: 1.2em;
  margin-bottom: 20px;
}
.onboarding ion-slide:nth-child(2) img {
  width: 40%;
  margin: 0 auto;
}
.onboarding ion-slide:nth-child(3) p {
  font-size: 17px;
  line-height: 1.2em;
  margin-bottom: 45px;
}
.onboarding ion-slide:nth-child(3) img {
  width: 75%;
  margin: 0 auto;
}
.onboarding ion-slide .close {
  background: url('../img/x.png?1458128490');
  position: absolute;
  top: 15px;
  right: 10px;
  width: 6vh;
  height: 6vh;
  border: none;
  background-size: cover;
  z-index: 2;
}

.prizes {
  background: #ffe9bb;
  color: white;
  font-size: 50px;
}
.prizes main {
  background: url('../img/bg-premios.png?1458128504') no-repeat center top;
  background-size: 100%;
  padding-top: 10px;
}
.prizes h1 {
  text-transform: capitalize;
  font-size: 26px;
  text-indent: 8px;
  background-size: 100%;
  margin-top: -17px;
  padding-top: 20px;
  padding-bottom: 14px;
  color: white;
}
.prizes h2 {
  padding-top: 45px;
  padding-bottom: 30px;
  text-transform: capitalize;
  font-size: 60px;
  text-indent: 20px;
}
.prizes img {
  width: 60%;
  height: auto;
}
.prizes .bronze-partner, .prizes .silver-partner, .prizes .gold-partner {
  text-align: center;
  padding: 20px 0px;
  position: relative;
  border-top: 3px dotted white;
}
.prizes .bronze-partner h3, .prizes .silver-partner h3, .prizes .gold-partner h3 {
  margin-bottom: 8px;
  font-size: 26px;
}
.prizes .bronze-partner {
  color: white;
  background: #b8502b;
}
.prizes .bronze-partner .points {
  color: #613c32;
  background: #ffe9bb;
}
.prizes .silver-partner {
  background: #ececec;
  color: #3a3a3a;
}
.prizes .silver-partner .points {
  background: #c8c4c4;
  color: #3a3a3a;
}
.prizes .gold-partner {
  color: #977a09;
  background: #ffda46;
}
.prizes .gold-partner .points {
  background: #977a09;
  color: #ffda46;
}
.prizes .points {
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 13px;
  line-height: 11px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
}
.prizes .points h3 {
  font-size: 25px;
  margin-bottom: 0px;
}
.prizes .points span {
  font-size: 17px;
}

.profile .modal .profile-avatar-mini {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 112px;
}
.profile .modal .profile-avatar-mini img {
  border: 5px solid #563029;
  border-radius: 50px;
  width: 88%;
}
.profile .modal .edit-profile {
  position: absolute;
  top: 128px;
  left: 107px;
  border: 0;
  background: url('../img/edit.png?1458128502');
  width: 12vw;
  height: 12vw;
  background-size: cover;
}
.profile .modal .btn-logout {
  position: absolute;
  right: 10px;
  border: none;
  background: transparent;
  color: #563029;
  font-size: 14px;
  padding: 0;
}
.profile .modal main {
  background-color: #ff9c00;
}
.profile .modal main .responsible h1 {
  text-transform: capitalize;
  font-size: 23px;
  text-indent: 20px;
}
.profile .modal main .responsible h3 {
  text-indent: 20px;
  font-size: 20px;
  margin: 0;
}
.profile .modal table {
  width: 100%;
  margin: 20px 0;
}
.profile .modal table tr td {
  border-top: 3px dotted white;
  background: #563029;
  color: #ff9c00;
  font-size: 20px;
  padding: 13px 0;
}
.profile .modal table tr td:first-child {
  width: 26%;
  font-size: 13px;
  padding-left: 20px;
}
.profile .modal .actions p {
  clear: both;
}
.profile .modal .btn-see-children {
  width: 96%;
  background: white;
  border: none;
  border-radius: 25px 25px 0 0;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 24px;
  padding: 10px;
  color: #784900;
  font-family: 'Love Ya Like A Sister';
}

.add-child-modal {
  background-color: transparent;
}
.add-child-modal .modal {
  background-color: transparent;
}
.add-child-modal .content {
  width: 95%;
  background: white;
  padding: 18px 10px;
  border-radius: 15px 15px 0 0;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.add-child-modal .content h2, .add-child-modal .content h3 {
  color: #563029;
}
.add-child-modal .content h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.add-child-modal .content h3 {
  margin-top: 14px;
  margin-bottom: 10px;
}
.add-child-modal .content .actions {
  width: 90%;
  margin: 0 auto;
}
.add-child-modal .content .actions .btn-cancel {
  background: #932222;
  float: left;
}
.add-child-modal .content .actions .btn-add {
  background: #4a9322;
  float: right;
}
.add-child-modal .content .choose-avatar {
  margin-bottom: 14px;
}
.add-child-modal .content .choose-avatar ul li {
  float: left;
  width: 65px;
  height: 70px;
  position: relative;
  overflow: hidden;
  padding-left: 2px;
  min-height: auto;
}
.add-child-modal .content .choose-avatar .item-avatar input {
  display: none;
}
.add-child-modal .content .choose-avatar .item-avatar label {
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
}
.add-child-modal .content .choose-avatar .item-coelha label {
  background: url('../img/coelha-nao-selecionada.png?1458759246') no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.add-child-modal .content .choose-avatar .item-coelha input:checked + label {
  background: url('../img/coelha-selecionada.png?1458128504') no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.add-child-modal .content .choose-avatar .item-passarinha label {
  background: url('../img/passarinha-nao-selecionada.png?1458128494') no-repeat;
  background-size: contain;
}
.add-child-modal .content .choose-avatar .item-passarinha input:checked + label {
  background: url('../img/passarinha-selecionada.png?1458128494') no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.add-child-modal .content .choose-avatar .item-tigre label {
  background: url('../img/tigre-nao-selecionado.png?1458128492') no-repeat;
  background-size: contain;
}
.add-child-modal .content .choose-avatar .item-tigre input:checked + label {
  background: url('../img/tigre-selecionado.png?1458128492') no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.add-child-modal .content .choose-avatar .item-lobo label {
  background: url('../img/lobo-nao-selecionado.png?1458128494') no-repeat;
  background-size: contain;
}
.add-child-modal .content .choose-avatar .item-lobo input:checked + label {
  background: url('../img/lobo-selecionado.png?1458128494') no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
.add-child-modal .content .actions {
  margin: 0 auto;
}
.add-child-modal .content .actions .btn {
  font-size: 22px;
}
.add-child-modal .content .actions .btn-cancel {
  background: #932222;
  float: left;
}
.add-child-modal .content .actions .btn-add {
  background: #4a9322;
  float: right;
}

.edit-profile-modal {
  background-color: transparent;
}
.edit-profile-modal .modal {
  background-color: transparent;
}
.edit-profile-modal .content {
  width: 90%;
  background: white;
  padding: 18px 20px;
  border-radius: 15px;
  position: absolute;
  z-index: 9999;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}
.edit-profile-modal .content h2 {
  color: #563029;
  font-size: 20px;
  margin-bottom: 15px;
}
.edit-profile-modal .content .editar-foto {
  margin-bottom: 30px;
}
.edit-profile-modal .content .editar-foto h3 {
  color: #563029;
  float: left;
  font-size: 19px;
}
.edit-profile-modal .content .editar-foto .profile-foto-edit a img {
  float: left;
  margin-left: 20px;
}
.edit-profile-modal .content .actions {
  width: 90%;
  margin: 0 auto;
}
.edit-profile-modal .content .actions .btn-cancel {
  background: #932222;
  float: left;
}
.edit-profile-modal .content .actions .btn-add {
  background: #4a9322;
  float: right;
}

.schedule {
  background: #ffe9bb;
  color: white;
  font-size: 50px;
}
.schedule main {
  background: url('../img/bg-premios.png?1458128504') no-repeat center top;
  background-size: 100%;
  padding-top: 10px;
}
.schedule h1 {
  text-transform: capitalize;
  font-size: 26px;
  text-indent: 8px;
  background-size: 100%;
  margin-top: -17px;
  padding-top: 20px;
  padding-bottom: 14px;
  color: white;
  border-bottom: 3px dotted white;
}
.schedule section h2, .schedule section h3 {
  color: white;
}
.schedule section h2 {
  text-align: center;
  background: #ff9c00;
  padding: 11px 0px;
  font-size: 26px;
}
.schedule section ul li {
  background: red;
  text-align: center;
}
.schedule section ul li .date {
  float: left;
  width: 20vw;
  font-size: 20px;
  padding: 8% 7px;
  line-height: 28px;
}
.schedule section ul li .content {
  float: left;
  width: 60vw;
  padding: 20px 13px;
  text-align: left;
}
.schedule section ul li .content h2 {
  font-size: 16px;
}
.schedule section ul li .content h3 {
  margin-bottom: 10px;
  font-size: 15px;
}
.schedule section ul li .content p {
  font-size: 13px;
}
.schedule section ul li .actions {
  float: left;
  width: 20vw;
  font-size: 15px;
  padding: 7% 7px;
}
.schedule section ul li .actions button {
  border: none;
  background: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #552f2b;
  display: block;
  margin: 0 auto;
  font-family: 'Love Ya Like A Sister', cursive;
}
.schedule section ul li .actions button i {
  display: block;
}
.schedule section ul li:nth-child(2n+2) {
  background: #ff9c00;
}
.schedule section ul li:nth-child(2n+2) article, .schedule section ul li:nth-child(2n+2) article p {
  color: #552f2b;
}
.schedule section ul li:nth-child(2n+2) .content {
  border-right: 1px solid #552f2b;
  border-left: 1px solid #552f2b;
}
.schedule section ul li:nth-child(2n+2) .content h2 {
  background-color: #552f2b;
}
.schedule section ul li:nth-child(2n+2) .content p {
  color: #552f2b;
}
.schedule section ul li:nth-child(2n+1) {
  background: #552f2b;
}
.schedule section ul li:nth-child(2n+1) article, .schedule section ul li:nth-child(2n+1) article p {
  color: #ff9c00;
}
.schedule section ul li:nth-child(2n+1) article.content, .schedule section ul li:nth-child(2n+1) article p.content {
  border-right: 1px solid #ff9c00;
  border-left: 1px solid #ff9c00;
}
.schedule section ul li:nth-child(2n+1) article.content p, .schedule section ul li:nth-child(2n+1) article p.content p {
  color: #ff9c00;
}
.schedule section ul li:nth-child(2n+1) article.actions button, .schedule section ul li:nth-child(2n+1) article p.actions button {
  color: #ff9c00;
}

.schedule-detail .modal header {
  padding-top: 210px;
  position: relative;
}
.schedule-detail .modal main {
  background: #552f2b;
  float: left;
}
.schedule-detail .modal main .cover {
  line-height: 0px;
  border-bottom: 3px white dotted;
  position: relative;
  z-index: 1;
}
.schedule-detail .modal main .cover img {
  width: 100%;
  margin-top: -59px;
  max-height: 240px;
}
.schedule-detail .modal main .sidebar {
  width: 20%;
  float: right;
  text-align: center;
  color: #ff9c00;
  background: #552f2b;
  padding-top: 40px;
  font-size: 15px;
}
.schedule-detail .modal main .sidebar time {
  background: url('../img/tracinho.png?1458128492') no-repeat center bottom;
  background-size: contain;
  color: #ff9c00;
  display: block;
  padding: 0 0 10px;
  width: 60%;
  margin: 0 auto 10px;
  font-size: 20px;
  line-height: 28px;
}
.schedule-detail .modal main .sidebar time.hour {
  font-size: 16px;
}
.schedule-detail .modal main .sidebar button {
  color: #ff9c00;
  border: none;
  background: none;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
}
.schedule-detail .modal main .sidebar button i {
  display: block;
  font-size: 25px;
}
.schedule-detail .modal main .container {
  width: 80%;
  float: left;
}
.schedule-detail .modal main .container > div {
  padding: 15px 20px;
  background: #ff9c00;
}
.schedule-detail .modal main .container > div h1, .schedule-detail .modal main .container > div h2 {
  color: white;
}
.schedule-detail .modal main .container > div h1 {
  margin-bottom: 2px;
  font-size: 16px;
}
.schedule-detail .modal main .container > div h2 {
  margin-bottom: 15px;
  font-size: 16px;
}
.schedule-detail .modal main .container > div p {
  color: #552f2b;
  font-size: 16px;
  margin-bottom: 14px;
}

.login form {
  border-radius: 15px 15px 0 0;
  background: white;
  padding: 20px 12px;
  width: 90%;
  margin: 0 auto;
}
.login form .btn-login {
  display: block;
  background: #4a9322;
  margin: 0 auto 20px;
  font-size: 26px;
}
.login form span.border-bottom {
  background: white;
  width: 90%;
  height: 200px;
  position: absolute;
  left: 50%;
  padding: 12px;
  transform: translate(-50%, 0);
  bottom: -10px;
  z-index: -1;
}

/* 
* LOADER 
* clubinho-loader
*/
div[clubinho-loader] .loader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999999;
}
div[clubinho-loader] .loader ion-spinner {
  background-color: black;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 16vh;
  width: 16vh;
  opacity: 0.9;
  transform: translate(-50%, -50%);
  padding: 3vw 3vh;
  border-radius: 4vw;
}
div[clubinho-loader] .loader ion-spinner svg {
  width: 12vw;
  height: 12vh;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
div[clubinho-loader] .loader .overlay {
  pointer-events: none;
  opacity: 0.4;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* 
* LOADER 
* clubinho-children-list
*/
div[clubinho-children-list] .children {
  width: 95%;
  margin: 0 auto;
  -moz-border-radius-topleft: 25px;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
}
div[clubinho-children-list] .children .open {
  padding-bottom: 15px;
}
div[clubinho-children-list] .children li {
  position: relative;
  overflow: hidden;
  height: 60px;
}
div[clubinho-children-list] .children li h2 {
  color: #784900;
  font-size: 20px;
}
div[clubinho-children-list] .children li h3 {
  color: #784900;
  font-size: 15px;
}
div[clubinho-children-list] .children li .avatar {
  float: left;
  max-width: 90px;
  overflow: hidden;
}
div[clubinho-children-list] .children li .avatar img {
  width: 100%;
}
div[clubinho-children-list] .children li .user {
  max-width: 140px;
  float: left;
  margin-left: 2%;
}
div[clubinho-children-list] .children li .user h2 {
  margin-top: 15px;
}
div[clubinho-children-list] .children li .user .details {
  margin: 20px 0;
  max-height: 0;
  overflow-y: scroll;
}
div[clubinho-children-list] .children li .user .details .border {
  height: 1px;
  display: block;
  width: 120%;
  border-bottom: 2px dotted #784900;
  margin-top: 5px;
  margin-bottom: 5px;
}
div[clubinho-children-list] .children li .user .details h3 {
  color: #784900;
  font-size: 16px;
}
div[clubinho-children-list] .children li .user .details h4 {
  color: #784900;
  font-size: 15px;
}
div[clubinho-children-list] .children li .points {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: right;
  position: absolute;
  right: 9px;
  top: 4px;
  padding: 8px;
  color: white;
  text-align: center;
  line-height: 18px;
  background: #886bae;
  min-width: 55px;
}
div[clubinho-children-list] .children li .points h3 {
  font-size: 25px;
  color: white;
}
div[clubinho-children-list] .children li .points span {
  font-size: 14px;
}
div[clubinho-children-list] .children li:first-child .wrapper {
  -moz-border-radius-topleft: 25px;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
}
div[clubinho-children-list] .children li .wrapper {
  background: #fff3f7;
  position: absolute;
  bottom: 0;
  max-height: 60px;
  overflow: hidden;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: max-height .5s linear;
  transition: overflow .5s linear;
}
div[clubinho-children-list] .children li.open {
  overflow: visible;
}
div[clubinho-children-list] .children li.open .wrapper {
  max-height: 9999px;
  transition: max-height 1s ease-in;
  -moz-border-radius-topleft: 25px;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
}
div[clubinho-children-list] .children li.open .details {
  max-height: 99999px;
}
div[clubinho-children-list] .children li.ana .avatar img {
  margin-top: -40px;
}
div[clubinho-children-list] .children li.maria .wrapper {
  background: #fdf190;
}
div[clubinho-children-list] .children li.maria .wrapper .points {
  background: #eabb1f;
}
div[clubinho-children-list] .children li.luiz .wrapper {
  background: #b1fff6;
}
div[clubinho-children-list] .children li.luiz .wrapper .points {
  background: #58a746;
}
div[clubinho-children-list] .children li.luiz .wrapper .details p {
  font-size: 14px;
  margin-bottom: 10px;
}
div[clubinho-children-list] .children li.luiz .wrapper .details a {
  color: white;
}
div[clubinho-children-list] .children li .btn-no, div[clubinho-children-list] .children li .btn-yes {
  font-size: 17px;
  color: white;
  border: 2px solid white;
  border-radius: 66px;
  float: left;
  padding: 10px 6px;
  margin-right: 8px;
  text-transform: uppercase;
}
div[clubinho-children-list] .children li .btn-no h3, div[clubinho-children-list] .children li .btn-yes h3 {
  color: white;
}
div[clubinho-children-list] .children li .btn-no i, div[clubinho-children-list] .children li .btn-yes i {
  font-size: 22px;
  width: 41px;
  display: block;
}
div[clubinho-children-list] .children li .btn-no {
  background: #a74646;
}
div[clubinho-children-list] .children li .btn-yes {
  background: #58a746;
}
div[clubinho-children-list] .children li.add-children {
  background: #ffffff;
}
div[clubinho-children-list] .children li.add-children .btn-add-child {
  border: none;
  background: transparent;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  padding: 10px 0;
  color: #784900;
  font-family: 'Love Ya Like A Sister';
}
div[clubinho-children-list] .children li.add-children .user {
  max-width: 100%;
  float: left;
  margin: 8px 5% 17px;
}
div[clubinho-children-list] .children li.add-children .user .points {
  background-color: transparent;
  color: #ff9c00;
  font-size: 60px;
  right: 5px;
  top: 0px;
  padding: 0px 4px;
}

@font-face {
  font-family: 'Love Ya Like A Sister';
  src: url("../font/LoveYaLikeASister.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.hide, .preload {
  display: none;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.btn {
  border-radius: 10px;
  font-size: 22px;
  padding: 3px 13px;
  color: white;
  border: none;
  font-family: 'Love Ya Like A Sister';
}
.btn:disabled {
  opacity: 0.5;
}

input.has-error, input.ng-invalid {
  border: 2px solid #f96767 !important;
}

input[type=text], input[type=email], input[type=date], input[type=password], select {
  border: 2px solid #934e22;
  border-radius: 4px;
  width: 100%;
  min-width: 95%;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  height: 34px;
  background: white;
}
input[type=text] option, input[type=email] option, input[type=date] option, input[type=password] option, select option {
  font-size: 13px;
  padding: 0px 2px 1px;
}

.form-errors {
  margin: 5px 0;
}
.form-errors .form-error {
  padding: 0 0 5px 12px;
  color: #f96767;
  font-size: 14px;
}

body {
  font-family: 'Love Ya Like A Sister', cursive;
}

header {
  padding: 30px 0px 10px 0px;
}
header .logo {
  margin: 0 auto;
  max-width: 185px;
  height: auto;
}
header .logo img {
  width: 100%;
}
header .profile-avatar {
  padding: 0;
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  top: 22px;
  right: 11px;
  border: 4px solid #563029;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
header .profile-avatar img {
  width: 100%;
}

.schedule-detail .modal, .profile .modal {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #ff9c00;
  color: #563029;
  font-size: 50px;
}
.schedule-detail .modal span.logo, .profile .modal span.logo {
  background: url('../img/titulo.png?1458128492') no-repeat center 212px;
  background-size: 135px;
  background-color: #ffe9bb;
  width: 100vw;
  height: 410px;
  display: block;
  position: absolute;
  left: 0;
  top: -190px;
}
.schedule-detail .modal header, .profile .modal header {
  background: url('../img/bg-premios.png?1458128504') no-repeat center bottom;
  background-size: 100%;
  padding-top: 210px;
  position: relative;
}
.schedule-detail .modal header .close, .profile .modal header .close {
  background: url('../img/x.png?1458128490');
  position: absolute;
  top: 160px;
  right: 9px;
  width: 6vh;
  height: 6vh;
  border: none;
  background-size: cover;
  z-index: 2;
}
